#feedback_form{
  width: 600px;
  margin: 0 auto 140px;
}

#feedback_form p{
  overflow: hidden;
  margin: 18px 0;
}

#feedback_form label{
  width: 60px;
  text-align: right;
  margin-right: 10px;
  float: left;
}

#feedback_email{
  width: 360px;
}

#feedback_form textarea{
  width: 360px;
  height: 180px;
}

#feedback_submit{
  width: 80px;
  height: 30px;
}

#feedback-trigger{
  display:block;
  width:12px;
  padding: 6px 4px;
  line-height: 1.2;
  color: #fff;
  position: fixed!important;
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 10;
  background: #7B92BC;
  border: 2px solid #ededed;
  border-left-width: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}

#feedback-trigger:hover{
  text-decoration: none;
  padding-left: 6px;
}

/*
#feedback{
background: url("images/feedback_form_bg.png") no-repeat scroll left top transparent;
color: #000000;
height: 384px;
left: 0;
margin-top: -60px;
overflow: hidden;
margin-left: -265px;
padding-left: 10px;
padding-top: 35px;
position: fixed;
top: 90px;
width: 324px;
z-index: 99;
} 

  #feedback form{
  width: auto;
}

  #feedback  textarea{
  width: 230px;
  height: 150px;
}

  #feedback  label{
  float: none;
  text-align: left;
  display: block;
  margin: .5em 0;
}

  #feedback  .trigger{
  position: absolute;
  background: #fff url("images/feedback_btn.png");
  height: 105px;
  width: 28px;
  right: 40px;
  top: 50px;
  display: block;
  font-size: 0;
  font-weight: 0;
}
*/
