.progressbar{
  width: 100%;
}

.progressbar .name{
  width: 100px;
}

.progressbar .val{
  width: 60px;
}

.progressbar .bar{
}

.progressbar .bar-bg{
  border: 1px solid #E2E5EA;
  background: #FFF;
}

.progressbar .bar-bg div{
  background: #33FF00;
}

