<div id="header-title" class="clearfix">
  <h1><%= title %></h1>
  <% unless logged_in? or @display_sign_button %>
    <%= form_tag remote_signup_url, :method => :get do %>
      <p id="signup-button">
      <%= hidden_field_tag "club", "monit" %>
      <%=button_wrap_tag(submit_tag('新用户注册', :name => nil), :hl => true) %>
      </p>
    <% end %>

  <% end %>
</div>


