<%= render :partial => 'header', :locals => { :title => t('about') } %>
<div id="doc-wrap">
  <div id="docm" class="clearfix">
    <h3>公司简介</h3>
    <p>

    　　中电云集（www.chinaccnet.com） 是一家拥有中华人民共和国增值电信业务经营许可证，获准经营因特网数据中心业务（IDC）、因特网接入服务业务（ISP）及移动互联网服务的多元化增值电信运营商。公司以运营自建型互联网数据中心为主，同时兼计算机网络技术管理、技术开发、技术服务、转让，实业投资，投资管理为铺的多元化公司。 <br/>
    　　公司倡导“引领数据中心未来”的经营理念，“客户至上，创新服务”的服务理念。无论对大、小客户，我们都始终秉承诚信的合作态度。公司始终以先进的技术手段及系统架构、高质量的线路、全天候的运行监控、完善的功能和专业的技术支持，确保为每个用户提供安全、可靠、高品质的顶级网络环境。 <br/>

    　　杭州华思通信技术有限公司是一家座落于杭州市高新区的高科技通信软件企业，公司致力于研发和提供新一代颠覆性的基于云计算和SaaS商业模式的融合网络管理产品与服务。
    </p>


    <h3>中电云集产品服务</h3>
    <ol>
      <li>中电域名交易拍卖平台，自设DNS机群，多家icann、cnnic接口，价格与质量双重保障；</li>
      <li>多运营商多路由出口优化线路机房，各种负载均衡、缓存、入侵检测、防火墙及服务器设备租赁；</li>
      <li>虚拟主机、企业邮局全面进入按单定制时代，为各行各业提供优质服务解决方案；</li>
      <li>外贸主机，方便海外用户高效查看公司各类讯息；</li>
      <li>VPS/云计算（Win/Linux全系支持）是高端用户私有云解决方案，提供更高性价比、更自由的产品；</li>
      <li>短信营销，提供专用的多网关短信发送和管理平台，企业通过这个平台，可以方便快捷地实现内部短信群发，利用短信营销，实现拓展市场的目的；</li>
      <li>监控云，是新一代变革性的基于云计算技术和软件即服务模式（SaaS）的在线主机与业务监控系统，以业务为核心，提供对业务（Business）、网络（Network）、主机（Host）、 网站（Site）、应用（Application）和服务（Service）的全方位深层次在线监控管理；</li>
      <li>应用程序开发、负载均衡服务、电子商务加速、专业代维服务。</li>
    </ol>
    <h3>杭州华思通信技术有限公司产品服务</h3>
    <p>

    　　公司提供电信综合网管，广电综合网管，企业IT网管，在线托管监控服务等解决方案。公司的WLAN综合网管、EPON综合网管、融合接入网管等产品在国内处于领先地位。 
    </p>
    <h3>监控云创新技术</h3>
    <p>

    　　华思研发了业界首个基于Erlang技术，按云计算架构研发设计的新一代融合网络管理平台，支持超大规模并发采集、海量数据存储和智能业务分析。同时结合中电云集丰富的运维经验，打造领先业界水平的综合物联网监控平台。
    </p>
  </div>
</div>
