<%= render :partial => 'header', :locals => { :title => t('contact') } %>
<div id="doc-wrap">
  <div id="docm" class="clearfix">
    <h3>客服</h3>
    <p>QQ群1：11111640           </p>
    <p>邮箱：huajie821#gmail.com </p>
    <p>电话：(+86)-0571-86661351/86661352/88811051/88811053-8820</p>
    <p>传真:(+86)-0571-86661353</p>
    <p>邮编：310052</p>
    <p>地址：杭州市滨江区江晖路1757号中兴大厦15楼</p>

    <h3>Customer Service</h3>

    <p>Msn:huajie821@hotmail.com</p>
    <p>Mail:huajie821#gmail.com</p>
    <p>Tel:(+86)-0571-86661351/86661352/88811051/88811053-8820</p>
    <p>Fax:(+86)-0571-86661353</p>
    <p>Zip Code：310052</p>
    <p>Address:Level 15,Yunji Communication & Technology Court,NO.1757 JiangHui Road, Hangzhou.</p>
  </div>
</div>
