<%=render :partial=>"select"%>
<div id="main" style="height: 1100px">
  <div style=" width: 80%; margin-left: 150px;" >

    <div id="dash" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/highlight-1.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <h3>以业务为核心的全方位深层次监控管理</h3>
        <p>MONIT监控云提供对互联网网站(Site)、业务(Business)、网络(Networks)、主机(Host)、 应用(Application)和服务(Service)的全方位在线监控管理服务；实现从底层网络与主机等基础IT设施，到上层业务应用的深层次探测和智能分析。</p>
      </div>
    </div>

    <div id="view" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/highlight-2.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <h3>简洁直观的业务视图</h3>
        <p>业务提供高层次的监控抽象，例如用户的整个B2C系统、ERP系统、视频媒体流系统，一个业务可以包括多台主机、网络设备、应用和服务对象，Monit监控云提供直观透明的业务视图显示业务状态。</p>
      </div>
    </div>

    <div id="host-detail" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/highlight-3.png"></img>
      </div>
     <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
       <h3>丰富的管理方式</h3>
        <p>Monit监控云提供丰富的管理方式，包括WEB界面，即时通信终端，SMS短信、Email通知，iPhone等智能手机终端。</p>
      </div>
    </div>

    <div id="site" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/highlight-4.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <h3>创新的即时通信集成</h3>
        <p>Monit监控云通过创新性的即时通信服务，实现管理员与主机的实时通信，开始与你的主机聊天吧！</p>
      </div>
    </div>

  </div>

</div>

