<%= render :partial => 'header', :locals => { :title => "加入我们" } %>
<div id="doc-wrap">
  <div id="docm" class="clearfix">

    <p>
    Monit监控云致力于研发创新的网络监控产品与技术解决方案，加入我们，一起来颠覆网络管理的旧世界，创造新世界！<br />
    有兴趣或者问题请email至 ery.lee(at)gmail.com
    </p>

    <h3>Erlang程序开发</h3>

    <p>
    两年Erlang开发经验，深刻理解Erlang编程模型和OTP框架；<br />

    TCP/IP和常用互联网协议(HTTP, XMPP, SMTP, SNMP等)开发经验；<br />

    大型分布式服务端程序开发经验者优先。
    </p>

    <h3>Rails程序开发</h3>

    <p>
    两年以上Rails开发经验，深刻理解Rails开发框架；<br />

    两年以上Javascript开发经验，精通javascript，jquery框架； <br />
    熟悉LAMP环境管理与配置，精通MySQL数据库，熟悉数据库切分设计；<br />

    百万级PV的高并发网站开发经验者优先。
    </p>


    <h3>Erlang程序开发实习</h3>

    <p>
    本科以上学历，物理、数学、计算机相关专业毕业，致力于从事软件开发，有良好C语言基础。
    </p>

    <h3>Rails程序开发实习</h3>

    <p>本科以上学历，物理、数学、计算机相关专业毕业，致力于从事软件开发，有WEB程序开发基础。</p>
  </div>
</div>
