<%=render :partial=>"select"%>
<div id="main">
  <div id="content" >
    <div id="info">
      <div style="text-align: center;width: 90%;margin-left: 50px;">
        <h3>变革性的服务器在线监控平台</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Monit监控云是新一代变革性的基于云计算技术和软件即服务模式（SaaS）的在线主机与业务监控系统，提供对业务、网络、主机、 网站、应用和服务的全方位深层次监控管理。Monit监控云提供可用性（Availability）监测，性能（Performance）监测，故障告警通知（Fault），业务视图和网络拓扑图，智能数据分析和报表等丰富的业务功能。Monit监控云通过颠覆性的软件即服务模式运营，简单易用，无需本地部署，注册即可使用，成本大幅降低；并且通过不断的在线升级，按客户需求扩展，持续演进。
        </p>
      </div>
    </div>

    <div id="dash" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/dashboard.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>Dashboard控制台汇总系统全局管理对象统计，最近故障信息,网站、主机、应用、网络、服务的状态统计信息。</p>
      </div>
    </div>

    <div id="view" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/view.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>监控视图提供简洁明了的监控对象关系视图和状态汇总，整体系统状况一目了然。</p>
      </div>
    </div>

    <div id="host-detail" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/host-detail.png"></img>
      </div>
     <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>服务器监控提供针对Linux/Unix/Windows等主机的负载、CPU、内存、Swap、磁盘占用、磁盘IO监测，接口流量报文监测，端口安全扫描，应用进程监测。</p>
      </div>
    </div>

    <div id="site" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/site.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>网站访问时间，网站首页大小，DNS域名解析，网站服务器PING时延的全面监控；网站故障可以立即发送邮件、短信通知。</p>
      </div>
    </div>

    <div id="mysql-detail" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/mysql-detail.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>应用监控提供对MySQL数据库数十项性能指标监测，提供对Apache、Lighttpd、Nginx等Web服务器的访问量、带宽占用、CPU占用监测。</p>
      </div>
    </div>

    <div id="device-list" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/device-list.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>网络设备监控提供对网络交换机、路由器、防火墙的接口带宽、流量、错误报文等指标的详细监测。</p>
      </div>
    </div>

     <div id="service-detail" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/service-detail.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>服务是Monit监控云中一个原子概念，基本上所有的监控项都概括为服务。互联网应用的服务监控包括TCP、UDP、FTP、HTTP、DNS、SMTP等。</p>
      </div>
    </div>

    <div id="alarm" style="margin-top:10px;height: 250px">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/alarm.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>所有监控服务支持告警域值配置，例如CPU过载发送故障告警，告警通知可以通过邮件、短信、声音等多途径发送。</p>
      </div>
    </div>

    <div id="report" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/report_topn_disk.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>Monit监控云支持海量性能数据存储，通过智能数据分析，提供丰富的报表，例如可用率报告、趋势报告、TopN报告、统计报告与对比分析报告。</p>
      </div>
    </div>


  </div>

</div>

