<%=render :partial=>"select"%>
<div id="main" style="height: 1200px;">
  <div style=" width: 80%; margin-left: 150px;" >
    <div id="info">
      <div style="text-align: center;width: 60%;margin-left: 180px;">
        <h3>云采集－大规模分布式调度采集</h3>
        <h3>海量数据存储和分析</h3>
        <h3>开放式纯插件体系结构</h3>
      </div>
    </div>

    <div id="dash" style="margin-top:10px;height: 250px;">
      <div style="float:left;width:30%;margin-left: 50px;">
        <img width="290" height="250" src="/images/techlonogies-1.png"></img>
      </div>
      <div style="float:right;width: 65%;margin-top: 100px;">
        <p>业界领先基于云计算架构设计</p>
      </div>
    </div>

    <div id="view" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/techlonogies-2.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>业界创新的采用Erlang并发编程框架构建的大规模分布式云采集系统。可以通过linux集群分布调度数百万的采集任务。</p>
      </div>
    </div>

    <div id="host-detail" style="margin-top:10px;height: 250px;">
      <div style="float:left;width:30%;margin-left: 50px;">
        <img width="290" height="250" src="/images/technologies-3.png"></img>
      </div>
      <div style="float:right;width: 65%;margin-top: 70px;">
        <p>Monit监控云通过Errdb实现海量性能数据的环状存储，可存储长达两年的T级别的实时采集数据。通过智能数据分析，<br/>可提供丰富的报表。TODO:图片需要替换。</p>
      </div>
    </div>

    <div id="site" style="margin-top:10px;height: 250px;">
      <div style="float:right;width: 40%;">
        <img width="290" height="250" src="/images/technologies-4.png"></img>
      </div>
      <div style="float:left;width: 50%;margin-top: 20px;margin-left: 50px;">
        <p>Monit采集进程采用调度引擎＋插件（Plugin）的设计模式，扩展插件一般是通过Lua、 Python、 Shell等脚本或者C语言来编写的独立执行程序，或者采用Erlang语言编写的内嵌模块。Monit插件协议目前更新至2.0，具备极为出色的扩展性</p>
      </div>
    </div>
    
  </div>

</div>

