<div id="footer">
  <p class="clearfix">
  <!--
  <span id="copyright">Monit © 2010 <a href="http://www.miibeian.gov.cn" target="_blank">苏ICP备10047828号</a></span>
  <span>
    <a href="http://blog.monit.cn">博客</a>
    <%= pipe_tag %>
    -->
    <a href="/about">关于我们</a>
    <%= pipe_tag %>
    <a href="/contact">联系我们</a>
    <%= pipe_tag %>
    <a href="/jobs">加入我们</a>
    <%= pipe_tag %>
    <a href="/terms">服务条款</a>
  </span>
  </p>
</div>
